// import bootstrap functions
@import "~bootstrap/scss/functions";
// rewrite bootstrap variables
@import 'variables';
@import "bootstrap_additional";
// custom theme styles here
@import 'partials/global';
@import 'partials/blog';
@import 'partials/footer';
@import 'partials/sidebar';
@import 'partials/shortcodes';
@import 'partials/widgets';

