{
  "presets": [
	[
	  "@babel/preset-env",
	  {
		"targets": {
		  "node": "6.10",
		  "esmodules": true,
		  "loose": true,
		  "exclude": ["transform-async-to-generator", "transform-regenerator"],
		}
	  }
	]
  ],
  "plugins": [
	["module:fast-async", { "spec": true }],
	"@babel/plugin-proposal-object-rest-spread"
  ]
}
