.shortcode-brokers .slick-next,
.shortcode-brokers .slick-prev {
  background: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
}
.shortcode-brokers .slick-next {
  right: -55px;
}
.shortcode-brokers .slick-prev {
  left: -55px;
}
.shortcode-brokers .slick-next:before,
.shortcode-brokers .slick-prev:before {
  font-family: fontawesome;
  color: #414141;
  opacity: 1;
  font-size: 25px;
  line-height: 40px;
}
.shortcode-brokers .slick-next:before {
  margin-right: -3px;
}
.shortcode-brokers .slick-prev:before {
  margin-left: -3px;
}
.shortcode-brokers .slick-next:hover,
.shortcode-brokers .slick-prev:hover {
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
}
.shortcode-brokers .slick-next:before {
  content: "\f105";
}
.shortcode-brokers .slick-prev:before {
  content: "\f104";
}
.shortcode-brokers .slick-track {
  padding: 15px 0;
}
.shortcode-brokers .slide {
  padding: 0 15px;
}
.shortcode-brokers .slide img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.shortcode-brokers .item {
  transition: box-shadow 0.3s;
}
.shortcode-brokers .slide:hover .item,
.shortcode-brokers .slick-current + .slick-active .item {
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
}
.shortcode-brokers .slide:hover .item .button,
.shortcode-brokers .slick-current + .slick-active .item .button {
  background: #222;
  color: #fff;
}
.shortcode-brokers .text {
  text-align: center;
  padding: 30px;
}
.shortcode-brokers .text .button {
  margin-top: 24px;
}
.shortcode-brokers h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
  color: #333;
}
.shortcode-brokers .position {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 18px;
  color: #333;
}
.shortcode-brokers .details {
  font-size: 18px;
  line-height: 24px;
  color: #333;
}
.shortcode-brokers .details i.fa {
  margin-right: 5px;
}
@media screen and (max-width: 1099px) {
  .shortcode-brokers .slick-next,
  .shortcode-brokers .slick-prev {
    display: none !important;
  }
}
