.bitcoin-price-info-shortcode {
  color: #fff;
}
.bitcoin-price-info-shortcode h4,
.bitcoin-price-info-shortcode h5 {
  color: #fff;
}
.bitcoin-price-info-shortcode h4 {
  font-size: 28px;
  line-height: 32px;
}
.bitcoin-price-info-shortcode h4 > span {
  color: #1d6874;
  display: block;
  font-size: 64px;
  line-height: 68px;
  margin-top: 12px;
}
.bitcoin-price-info-shortcode h5 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 35px;
}
.bitcoin-price-info-shortcode p {
  font-size: 16px;
  line-height: 18px;
}
