.shortcode-title-with-image {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3.5px;
  margin: 45px 0;
  font-weight: 300;
}
.shortcode-title-with-image .title-image {
  width: 70px;
  height: 50px;
  margin-right: 18px;
  display: inline-block;
}
.shortcode-title-with-image .title-image img {
  max-width: 70px;
  height: 50px;
}
@media screen and (max-width: 1099px) {
  .shortcode-title-with-image {
    font-size: 24px;
    letter-spacing: 2px;
    margin: 20px 0;
  }
  .shortcode-title-with-image .title-image {
    width: 50px;
    height: 30px;
    margin-right: 8px;
  }
  .shortcode-title-with-image .title-image img {
    max-width: 50px;
    height: 30px;
  }
}
