.wp-block-starter-kit-column {
  outline: 1px dashed #949494;

  // Column background on hover to make it visible
  &:not(.is-selected):not(.has-child-selected):hover {
    //background-color: rgba(255, 255, 255, 0.7);
  }
}

.box_breakpoint {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;

  &.active {
    background: #f5f5f5;
  }
}
