.menu-icon-dslc_testimonials .wp-menu-image:before {
	content: "\f122";
}
.menu-icon-forms .wp-menu-image:before {
	content: "\f465";
}
.menu-icon-composerlayout .wp-menu-image:before {
	content: "\f314";
}