/* FAQ page accordion*/
.wpb-js-composer .faq-accordion.vc_tta .vc_tta-panel-title .vc_tta-title-text {
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.wpb-js-composer .faq-accordion.vc_tta .vc_tta-controls-icon {
	height: 14px;
	width: 14px;
}

.wpb-js-composer .faq-accordion.vc_tta .vc_tta-controls-icon::before,
.wpb-js-composer .faq-accordion.vc_tta .vc_tta-controls-icon::after {
	border-color: #333333!important;
}

.wpb-js-composer .faq-accordion.vc_tta.vc_general .vc_tta-panel-title>a {
	padding: 18px 20px;
}

.wpb-js-composer .faq-accordion.vc_tta .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading {
	background-color: #ececec!important;
}

.wpb-js-composer .faq-accordion.vc_tta .vc_tta-panel .vc_tta-panel-body {
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.wpb-js-composer .faq-accordion.vc_tta.vc_general .vc_tta-panel-body {
	padding: 8px 0 8px 18px;
}
/* END: FAQ page accordion*/
