.shortcode-coins {
  display: inline-block;
  font-size: 0;
  width: 100%;
  text-align: center;
  margin: 0 -15px 0 -15px;
}
.shortcode-coins .grid-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.shortcode-coins .grid-item .inside {
  padding: 35px;
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.05);
  transition: box-shadow 0.3s;
}
.shortcode-coins .grid-item .button {
  margin-top: 50px;
  display: block;
}
.shortcode-coins .grid-item:hover .inside {
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
}
.shortcode-coins .thumb {
  min-height: 100px;
  line-height: 100px;
  margin-bottom: 24px;
}
.shortcode-coins .thumb img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.shortcode-coins h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.shortcode-coins .exchange-price span {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.shortcode-coins .exchange-price .price {
  color: #222;
  font-weight: bold;
  margin-bottom: 5px;
}
.shortcode-coins .exchange-price .qty {
  color: #666;
}
.shortcode-coins .ajax-pagination {
  margin-top: 70px;
}
.shortcode-coins .grid-item.columns-8 {
  padding: 0;
}
.shortcode-coins .grid-item.columns-8 .inside {
  padding: 15px;
  box-shadow: none;
}
.shortcode-coins .grid-item.columns-8 .inside h4 {
  font-size: 14px;
}
.shortcode-coins .grid-item.columns-8:hover .inside {
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
}
@media screen and (min-width: 1200px) {
  .shortcode-coins .grid-item.columns-8 {
    width: 16.6666666%;
  }
}
@media screen and (max-width: 995px) {
  .shortcode-coins .grid-item {
    width: 50%;
  }
  .shortcode-coins .grid-item.columns-8 {
    width: 33.3333333%;
  }
}
@media screen and (max-width: 768px) {
  .shortcode-coins .grid-item.columns-8 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .shortcode-coins {
    margin-left: 0;
    margin-right: 0;
  }
  .shortcode-coins .grid-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .shortcode-coins .grid-item.columns-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
