.shortcode-coins {
	display: inline-block;
	font-size: 0;
	width: 100%;
	text-align: center;
	margin: 0 -15px 0 -15px;

	.grid-item {
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		padding: 0 15px;
		margin-bottom: 30px;
		.inside {
			padding: 35px;
			box-shadow: 0px 5px 20px 0px rgba(2,2,2,0.05);
			transition: box-shadow 0.3s;
		}

		.button {
			margin-top: 50px;
			display: block;
		}

	}

	.grid-item:hover {
		.inside {
			box-shadow: 0px 5px 20px 0px rgba(2,2,2,0.15);
		}
	}

	.thumb {
		min-height: 100px;
		line-height: 100px;
		margin-bottom: 24px;
		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			height: auto;
		}
	}

	h4 {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 18px;
	}

	.exchange-price {
		span {
			display: block;
			font-size: 12px;
			line-height: 16px;
		}
		.price {
			color: #222;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.qty {
			color: #666;
		}
	}

	.ajax-pagination {
		margin-top: 70px;
	}

}

.shortcode-coins {
	.grid-item.columns-8 {
		padding: 0;
		.inside {
			padding: 15px;
			box-shadow: none;
			h4 {
				font-size: 14px;
			}
		}
		&:hover {
			.inside {
				box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
			}
		}
	}

}

@media screen and (min-width: 1200px) {
	.shortcode-coins {
		.grid-item.columns-8 {
			width: 16.6666666%;
		}
	}
}

@media screen and (max-width: 995px) {
	.shortcode-coins {
		.grid-item {
			width: 50%;
		}
		.grid-item.columns-8 {
			width: 33.3333333%;
		}
	}
}

@media screen and (max-width: 768px) {
	.shortcode-coins {
		.grid-item.columns-8 {
			width: 50%;
		}
	}
}

@media screen and (max-width: 480px) {
	.shortcode-coins {
		margin-left: 0;
		margin-right: 0;
		.grid-item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		.grid-item.columns-8 {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}