/**
 * Add custom icons for custom post types
**/

#menu-posts-video .wp-menu-image:before {
  content: '\f126';
}

#menu-posts-team_members .wp-menu-image:before {
  content: '\f110';
}

#menu-posts-portfolio .wp-menu-image:before {
  content: '\f322';
}

#menu-posts-testimonials .wp-menu-image:before {
  content: '\f130';
}

#menu-posts-composerlayout .wp-menu-image:before {
  content: '\f134';
} 

.fw-brz-dismiss {
  display: none;
}
