#content {
	.news {
		.row-header {
			text-transform: uppercase;
			font-size: 15px;
			padding: 10px 0 13px;
			color: #eb3c00;
		}

		a {
			img {
				max-width: 100%;
			}

			h5 {
				font-size: 17px;
				max-width: 95%;
			}
		}

		.row-header,
		a h5 {
		}
	}
}
