#content .news .row-header {
	padding: 10px 0 13px;
	color: #eb3c00;
	font-size: 15px;
	text-transform: uppercase;
}

#content .news a img {
	max-width: 100%;
}

#content .news a h5 {
	font-size: 17px;
	max-width: 95%;
}

#content .news .row-header,
#content .news a h5 {

}
