html :where(.wp-block) {
  margin-bottom: unset;
  margin-top: unset;
  max-width: unset;
}

.editor-styles-wrapper {
  .block-editor-block-list__layout {
    .wp-block {
      &::after {
        content: "";
        border-radius: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        top: 1px;
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }

      &:hover {
        outline: 1px dashed rgba(#ccc, .7);
      }

      &:hover::after {
        opacity: 0.1;
        background: rgba(#ccc, .3);
      }

      &.is-selected,
      &.is-multi-selected {
        outline: 1px dashed var(--wp-admin-theme-color);
      }
    }
  }
}

.block-editor .interface-interface-skeleton__sidebar {
  .box_breakpoint {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;

    &.active {
      background: #ccc;
    }
  }
}
