html :where(.wp-block) {
  margin-bottom: unset;
  margin-top: unset;
  max-width: unset;
}

.editor-styles-wrapper {
  .wp-block {
    &.is-selected {
      outline: 2px dashed #ccc;
    }
  }
}

.box_breakpoint {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;

  &.active {
    background: #ccc;
  }
}

.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted::after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted ~ .is-multi-selected::after,
.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after,
.block-editor-block-list__layout.is-navigate-mode .block-editor-block-list__block.is-selected::after {
  background: rgba(#000, .2);
}
