html :where(.wp-block) {
  margin-bottom: unset;
  margin-top: unset;
  max-width: unset;
}

.editor-styles-wrapper {
  .wp-block {
    &:hover {
      background: rgba(#ccc, .3);
      filter: invert(1);
    }

    &.is-selected {
      outline: 2px dashed #ccc;
    }
  }
}

.box_breakpoint {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;

  &.active {
    background: #f5f5f5;
    background: #ccc;
  }
}
