.editor-styles-wrapper {
  @import "utils/variables";
  @import "utils/mixins";

  /* Layout */
  @import "layout/fonts";
  @import "layout/header";
  @import "layout/footer";

  font-family: 'Poppins', sans-serif;
}

html :where(.wp-block) {
  margin-bottom: unset;
  margin-top: unset;
  max-width: unset;
}
