@import "utils/bootstrap_utils";
// all bootstrap
// @import "bootstrap";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// Helpers
@import "~bootstrap/scss/helpers";
// Utilities
@import "~bootstrap/scss/utilities/api";
// add card
@import "~bootstrap/scss/card";
// Layout
@import "layout/fonts";
@import "layout/header";
@import "layout/footer";
@import "layout/all";
