html,
body {
  height: 100%;
}

.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  >footer,
  >header {
    flex: 0 0 auto;
  }

  >main {
    flex: 1 0 auto;
  }
}

.minw_0 {
  min-width: 0;
}

.bg_gradient {
  background-image: linear-gradient(to top, #e9ecef, #f8f9fa);
}
//hero_section
.hero_section {
  --indent: 110px;

  @include media-breakpoint-up(xl) {
    padding-top: var(--indent) !important;
    padding-bottom: var(--indent) !important;
  }
}
//functionality
.list_functionality {
  .col_img {
    margin-bottom: 10px;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
}
//card_title
$bg_list_marked: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23F7944E' fill-rule='evenodd' d='M23.03 3.969a.749.749 0 0 1 0 1.062l-10.5 10.5a.75.75 0 0 1-1.061 0l-4.5-4.5A.752.752 0 0 1 8.03 9.969l3.968 3.97 9.97-9.97a.75.75 0 0 1 1.061 0Z' clip-rule='evenodd'/%3E%3Cpath fill='%23F7944E' fill-rule='evenodd' d='M2.25 19.5a2.25 2.25 0 0 0 2.25 2.25h15a2.25 2.25 0 0 0 2.25-2.25V12a.75.75 0 1 0-1.5 0v7.5a.75.75 0 0 1-.75.75h-15a.75.75 0 0 1-.75-.75v-15a.75.75 0 0 1 .75-.75h12a.75.75 0 1 0 0-1.5h-12A2.25 2.25 0 0 0 2.25 4.5v15Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");

.card_title {
  padding-left: 36px;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: $bg_list_marked;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
//button
.max_w {
  max-width: 225px;
  width: 100%;
}
//list marked
.list_marked {
  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-image: $bg_list_marked;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
}

.description_section {
  padding-top: 50px;

  h1 {
    max-width: 637px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 130px;
  }
}

.pricing_section {
  max-width: 1440px;
}

.wp-block-post-content {
  a[target="_blank"]:not(:has(> img)) {
    &::after {
      content: "\f11b";
      font-family: icons, serif !important;
      font-style: normal;
      font-weight: normal !important;
      font-size: 0.6rem;
      vertical-align: middle;
      display: inline-block;
      margin-left: 0.4em;
    }

    &:hover::after {
      color: $link-hover-color;
    }
  }
}

//code
kbd {
  box-shadow: 0 2px 0 1px $gray-400;
  border: 1px solid $gray-400;
  position: relative;
  cursor: default;
  top: -1px;

  &:hover {
    box-shadow: 0 1px 0 0.5px $gray-400;
    top: 1px;
  }
}

code {
  background-color: $gray-200;
  border-radius: 4px;

  @extend .px-2, .py-1;

  .highlight &,
  pre & {
    background-color: transparent;
    display: block;

    @extend .p-2;
  }
}

pre {
  background-color: $gray-200;
  border-radius: 4px;
  position: relative;

  code {
    padding-right: 50px !important;
  }

  .copy_clipboard {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;

    &.active {
      background: none;
    }

    &:hover {
      svg {
        fill: $primary;
      }
    }

    svg {
      width: 20px;

      &.ok {
        fill: $success;
      }
    }
  }

  @extend .border;
}
