html,
body {
  height: 100%;
}

.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  >footer,
  >header {
    flex: 0 0 auto;
  }

  >main {
    flex: 1 0 auto;
  }
}

.minw_0 {
  min-width: 0;
}

.bg_gradient {
  background-image: linear-gradient(to top, $gray-200, $gray-100);
}
//button
.max_w {
  max-width: 225px;
  width: 100%;
}

.wp-block-post-content {
  a[target="_blank"]:not(:has(> img)) {
    &::after {
      content: var(--sk-in-new-tab);
      font-family: icons, serif !important;
      font-style: normal;
      font-weight: normal !important;
      font-size: 0.6rem;
      vertical-align: middle;
      display: inline-block;
      margin-left: 0.4em;
    }

    &:hover::after {
      color: $link-hover-color;
    }
  }
}

//hero_section
.hero_section {
  --indent: 110px;

  @include media-breakpoint-up(xl) {
    padding-top: var(--indent) !important;
    padding-bottom: var(--indent) !important;
  }
}
//functionality
.list_functionality {
  .col_img {
    margin-bottom: 10px;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
}

//card_title
.card_title {
  padding-left: 36px;
  position: relative;

  &::before {
    content: var(--sk-check2-square);
    font-family: icons, serif !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 24px;
    color: $primary;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

//list marked
.list_marked {
  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: var(--sk-check);
      font-family: icons, serif !important;
      font-style: normal;
      font-weight: normal !important;
      font-size: 10px;
      line-height: 1;
      color: $primary;
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
}

code:not(pre code) {
  background-color: $gray-200;
  border: 1px solid $gray-400;
  border-radius: 4px;
  padding: .2em .4em;
  font-size: 85%;
}
