html,
body {
  height: 100%;
}

.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  >footer,
  >header {
    flex: 0 0 auto;
  }

  >main {
    flex: 1 0 auto;
  }
}
.bg_gradient {
  background-image: linear-gradient(to top, #e9ecef, #f8f9fa);
}
