$font-path: "../../fonts/roboto/";

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}roboto-v30-latin-regular.woff2') format('woff2'),
  url('#{$font-path}roboto-v30-latin-regular.ttf') format('truetype');
}

/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}roboto-v30-latin-500.woff2') format('woff2'),
  url('#{$font-path}roboto-v30-latin-500.ttf') format('truetype');
}
