/*------------------------------------------------------------------
[Footer styles]
-------------------------------------------------------------------*/
#footer {
	margin-top: 35px;
}

#bottom-bar {

	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	.links {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin: 0 0 0 20px;
				padding: 0;

				@include media-breakpoint-down(sm) {
					margin: 0;
				}

			}
			ul {
				display: none;
			}
		}
	}
}