/*------------------------------------------------------------------
[Footer styles]
-------------------------------------------------------------------*/
#footer {
  background-color: #282828;
  margin-top: 35px;

  &, p, span, h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
  }

  ul {
	padding-left: 0px;

	ul {
	  padding-left: 15px;
	}

	li {
	  list-style: none;
	}
  }

  table {
	* {
	  border-color: #555c66;
	}
	tfoot td {
	  border: none;
	}
  }

  label {
	width: 100%;
  }

  input, select {
	width: 100%;
	padding: 10px 5px;
	border: none;
	background-color: #ffffff;
	color: #282828;
  }

  input[type='submit'],
  button {
	background-color: #eb3c00;
	color: #ffffff;
  }

  .widget-title {
	font-size: 24px;
  }

  .widget_calendar caption {
	color: #999999;
	text-align: center;
  }
}

#bottom-bar {
  padding: 25px 0;
  color: #ffffff;

  @include media-breakpoint-down(sm) {
	text-align: center;
  }

  .links {

	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  li {
		display: inline-block;
		margin: 0 0 0 20px;
		padding: 0;

		a {
		  color: #ffffff;
		}

		@include media-breakpoint-down(sm) {
		  margin: 0;
		}

	  }
	  ul {
		display: none;
	  }
	}
  }
}
