/*------------------------------------------------------------------
[Global styles]
-------------------------------------------------------------------*/
.align-center {
	text-align: center;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
}

.aligncenter {
	display: block;
	margin: 0 auto 10px auto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

select {
	max-width: 100%;
}

html body {
	background-color: #f5f5f5;
	font-family: 'Oswald';
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

p, span, h1, h2, h3, h4, h5, h6 {
	color: #282828;
}

figure, figure img {
	max-width: 100%!important;
}

input[type='password'] {
	text-align: right;
	padding: 5px 10px;
	border: 1px solid #e7e7e7;
}

input[type='submit'] {
	background-color: #282828;
	color: #fff;
	border: none;
	padding: 6px 20px;

	&:hover {
		background-color: #eb3c00;
		cursor: pointer;
	}
}

/** By Envato requirements */
.wp-caption,
.wp-caption-text,
.screen-reader-text,
.gallery-caption,
.bypostauthor {
  border:0;
}
