/*------------------------------------------------------------------
[Header Menu]
-------------------------------------------------------------------*/

.main-header {
	.navbar {
		.navbar-brand {
			a {
				font-size: 2.5rem;
				font-weight: 500;
				line-height: 1.2;
				display: block;
			}
		}
	}
	.dropdown-toggle {
		&:after {
			vertical-align: 0.155em;
		}
	}

	/*mixin works only on desktop*/
	@mixin dropdown-desktop {
		.dropdown {
			&:hover > .dropdown-menu {
				display: block;
			}

			.dropdown-menu {
				margin-top: 0;

				.dropdown {
					.dropdown-menu {
						top: 0;
						left: 100%;
					}

					&.dropdown-left {
						.dropdown-menu {
							left: auto;
							right: 100%;
						}
					}
				}

				.dropdown-toggle {
					&:after {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}



	@include media-breakpoint-up(sm) {
		.navbar-expand-sm {
			@include  dropdown-desktop;
		}
	}
	@include media-breakpoint-up(md) {
		.navbar-expand-md {
			@include  dropdown-desktop;
		}
	}
	@include media-breakpoint-up(lg) {
		.navbar-expand-lg {
			@include  dropdown-desktop;
		}
	}
	@include media-breakpoint-up(xl) {
		.navbar-expand-xl {
			@include  dropdown-desktop;
		}
	}

	.navbar-toggler {
		height: 30px;
		background-color: transparent;
		border: none;
		padding: 0;
		z-index: 1000;

		span {
			margin: 0 auto;
			position: relative;
			transition-duration: 0s;
			transition-delay: 0.2s;
			background-size: 0;

			&:before {
				margin-top: -10px;
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:after {
				margin-top: 10px;
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				transform: initial;
				transition-property: margin, transform;
				transition-duration: 0.2s;
				transition-delay: 0.2s, 0s;
			}

			&,
			&:before,
			&:after {
				width: 35px;
				height: 3px;
				background-color: $primary;
				display: block;
				border-radius: 3px;
			}
		}

		&:focus {
			outline: none;
		}

		&:not(.collapsed) {
			span {
				background-color: rgba(0, 0, 0, 0);
				transition-delay: 0s, 0.2s;

				&:before,
				&:after {
					margin-top: 0;
					transition-delay: 0s, 0.2s;
				}

				&:before {
					transform: rotate(45deg);

				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}

}


