/*------------------------------------------------------------------
[Header Menu]
-------------------------------------------------------------------*/

.main-header {
	.navbar {
		.navbar-brand {
			a {
				font-size: 2.5rem;
				font-weight: 500;
				line-height: 1.2;
				display: block;
			}
		}
	}
	.dropdown-toggle {
		&:after {
			vertical-align: 0.155em;
		}
	}

	/*mixin works only on desktop*/
	@mixin dropdown-desktop {
		.dropdown {
			&:hover > .dropdown-menu {
				display: block;
			}

			.dropdown-menu {
				margin-top: 0;

				.dropdown {
					.dropdown-menu {
						top: 0;
						left: 100%;
						margin-left: .1rem;
						margin-right: .1rem;
					}

					&.dropdown-left {
						.dropdown-menu {
							left: auto;
							right: 100%;
						}
					}
				}

				.dropdown-toggle {
					&:after {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}



	@include media-breakpoint-up(sm) {
		.navbar-expand-sm {
			@include  dropdown-desktop;
		}
	}
	@include media-breakpoint-up(md) {
		.navbar-expand-md {
			@include  dropdown-desktop;
		}
	}
	@include media-breakpoint-up(lg) {
		.navbar-expand-lg {
			@include  dropdown-desktop;
		}
	}
	@include media-breakpoint-up(xl) {
		.navbar-expand-xl {
			@include  dropdown-desktop;
		}
	}
}


