/*------------------------------------------------------------------
[Stripped version of JS Composer styles]
-------------------------------------------------------------------*/
.vc_parallax-inner iframe,
.vc_video-bg iframe {
	max-width: 1000%;
}

.vc_video-bg-container {
	position: relative;
}

.vc_video-bg {
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

.vc_parallax {
	position: relative;
	overflow: hidden;
}

.vc_parallax > * {
	position: relative;
	z-index: 1;
}

.vc_parallax .vc_parallax-inner {
	pointer-events: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-attachment: scroll;
	background-color: transparent;
	background-image: inherit;
	background-size: cover;
	z-index: 0;
	background-position: 50% 0;
}

.row-o-full-height {
	min-height: 100vh;
}

.row-o-equal-height {
	-webkit-box-align: stretch !important;
	-webkit-align-items: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}

.row-no-padding > .vc_column_container {
	padding-left: 0;
	padding-right: 0;
}

// animation

.wpb_animate_when_almost_visible {
	opacity: 0
}

.wpb_animate_when_almost_visible:not(.wpb_start_animation) {
	-webkit-animation: none;
	-o-animation: none;
	animation: none
}

.top-to-bottom, .wpb_top-to-bottom {
	-webkit-animation: wpb_ttb .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	-o-animation: wpb_ttb .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	animation: wpb_ttb .7s 1 cubic-bezier(.175, .885, .32, 1.275)
}

.bottom-to-top, .wpb_bottom-to-top {
	-webkit-animation: wpb_btt .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	-o-animation: wpb_btt .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	animation: wpb_btt .7s 1 cubic-bezier(.175, .885, .32, 1.275)
}

.left-to-right, .wpb_left-to-right {
	-webkit-animation: wpb_ltr .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	-o-animation: wpb_ltr .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	animation: wpb_ltr .7s 1 cubic-bezier(.175, .885, .32, 1.275)
}

.right-to-left, .wpb_right-to-left {
	-webkit-animation: wpb_rtl .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	-o-animation: wpb_rtl .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	animation: wpb_rtl .7s 1 cubic-bezier(.175, .885, .32, 1.275)
}

.appear, .wpb_appear {
	-webkit-animation: wpb_appear .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	-o-animation: wpb_appear .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	animation: wpb_appear .7s 1 cubic-bezier(.175, .885, .32, 1.275);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

.wpb_start_animation {
	opacity: 1
}

.animated {
	-webkit-animation-duration: 0.6s;
	-webkit-animation-fill-mode: backwards;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0s;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}