/*------------------------------------------------------------------
[Sidebar styles]
-------------------------------------------------------------------*/
#sidebar {
  @include media-breakpoint-down(sm) {
	margin-top: 35px;
  }

  .widget {
	margin-bottom: 35px;
  }

  .widget_nav_menu {
	ul ul ul ul ul {
	  display: none;
	}
  }

}
