/*------------------------------------------------------------------
[Widget styles]
-------------------------------------------------------------------*/

.widget {
	margin-bottom: 30px;
	
	.search-form {
		label {
			vertical-align: bottom;
			margin-bottom: 0;
		}
	}
}