@import "../../../assets/src/styles/utils/bootstrap_utils";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
