<!-- wp:template-part {"slug":"header","removeWrapper":"true"} /-->
<!-- wp:starter-kit/section {"modification":{"backgroundColor":[],"textColor":[],"tagName":"main","colorTheme":""}} -->
<main>
  <!-- wp:starter-kit/container -->
  <div class="container">
    <!-- wp:paragraph -->
    <p>
      404 Page not found
    </p>
    <!-- /wp:paragraph -->
  </div>
  <!-- /wp:starter-kit/container -->
</main>
<!-- /wp:starter-kit/section -->
<!-- wp:template-part {"slug":"footer","removeWrapper":"true"} /-->
