<!-- wp:template-part {"slug":"header","removeWrapper":"true"} /-->

<!-- wp:starter-kit/section {"modification":{"backgroundColor":[],"textColor":[],"tagName":"main","colorTheme":""}} -->
<main><!-- wp:starter-kit/container {"spacers":{"xs":{"valueRange":{"mt-xs":5,"mb-xs":5}},"sm":{},"md":{},"lg":{},"xl":{},"xxl":{}}} -->
  <div class="container mt-5 mb-5"><!-- wp:paragraph -->
    <h1>404 Page not found </h1>
    <!-- /wp:paragraph --></div>
  <!-- /wp:starter-kit/container --></main>
<!-- /wp:starter-kit/section -->

<!-- wp:template-part {"slug":"footer","removeWrapper":"true"} /-->
