<!-- wp:template-part {"slug":"header","removeWrapper":"true"} /-->
<!-- wp:starter-kit/section {"modification":{"backgroundColor":[],"textColor":[],"tagName":"main","colorTheme":""}} -->
<main>
  <!-- wp:starter-kit/section {"modification":{"backgroundColor":"bg-black","textColor":"text-white","tagName":"section","colorTheme":"dark"},"className":"hero"} -->
  <section data-bs-theme="dark" class="bg-black text-white hero">
    <!-- wp:starter-kit/container -->
    <div class="container-xxl">
      <!-- wp:post-title {"level":1} /-->
    </div>
    <!-- /wp:starter-kit/container -->
  </section>
  <!-- /wp:starter-kit/section -->
  <!-- wp:post-content /-->
</main>
<!-- /wp:starter-kit/section -->
<!-- wp:template-part {"slug":"footer","removeWrapper":"true"} /-->
