<!-- wp:template-part {"slug":"header","removeWrapper":"true"} /-->
<!-- wp:starter-kit/section {"modification":{"backgroundColor":[],"textColor":[],"tagName":"main","colorTheme":""}} -->
<main>
  <!-- wp:starter-kit/section {"modification":{"backgroundColor":[],"textColor":[],"tagName":"section","colorTheme":[]},"className":"hero"} -->
  <section class="hero">
    <!-- wp:starter-kit/container -->
    <div class="container">
      <!-- wp:starter-kit/row -->
      <div class="row">
        <!-- wp:starter-kit/column -->
        <div class="col">
          <!-- wp:post-title {"level":1} /-->
        </div>
        <!-- /wp:starter-kit/column -->

        <!-- wp:starter-kit/column -->
        <div class="col">
          <!-- wp:post-featured-image /-->
        </div>
        <!-- /wp:starter-kit/column -->
      </div>
      <!-- /wp:starter-kit/row -->
    </div>
    <!-- /wp:starter-kit/container -->
  </section>
  <!-- /wp:starter-kit/section -->
  <!-- wp:post-content /-->
</main>
<!-- /wp:starter-kit/section -->
<!-- wp:template-part {"slug":"footer","removeWrapper":"true"} /-->
