<!-- wp:starter-kit/heading -->
<h2>Requirements</h2>
<!-- /wp:starter-kit/heading -->

<!-- wp:starter-kit/list-section -->
<ul><!-- wp:starter-kit/list-item -->
  <li><a href="https://docs.docker.com/engine/install/">Docker Engine</a> v24+<br><a href="https://docs.docker.com/compose/install/">Docker Compose</a> v2.21+<br><a href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh">GitHub SSH key</a> or <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens">Personal Access Token</a></li>
  <!-- /wp:starter-kit/list-item --></ul>
<!-- /wp:starter-kit/list-section -->

<!-- wp:starter-kit/heading -->
<h2>Creating new project</h2>
<!-- /wp:starter-kit/heading -->

<!-- wp:starter-kit/list-section -->
<ul><!-- wp:starter-kit/list-item -->
  <li>Check your GitHub SSH with <code>ssh -T git@github.com</code> or use <a href="https://github.com/solidbunch/starter-kit-foundation#cicd-deployments">PAT</a> in <code style="font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace); font-size: 13.6px; padding: 0.2em 0.4em; margin: 0px; white-space-collapse: break-spaces; background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted)); border-radius: 6px;">.env.secret</code> <code style="font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace); font-size: 13.6px; padding: 0.2em 0.4em; margin: 0px; white-space-collapse: break-spaces; background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted)); border-radius: 6px;">COMPOSER_AUTH</code></li>
  <!-- /wp:starter-kit/list-item --></ul>
<!-- /wp:starter-kit/list-section -->
