.shortcode-postsimple .slick-next,
.shortcode-postsimple .slick-prev {
  background: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
}
.shortcode-postsimple .slick-next {
  right: -55px;
}
.shortcode-postsimple .slick-prev {
  left: -55px;
}
.shortcode-postsimple .slick-next:before,
.shortcode-postsimple .slick-prev:before {
  font-family: fontawesome;
  color: #414141;
  opacity: 1;
  font-size: 25px;
  line-height: 40px;
}
.shortcode-postsimple .slick-next:before {
  margin-right: -3px;
}
.shortcode-postsimple .slick-prev:before {
  margin-left: -3px;
}
.shortcode-postsimple .slick-next:hover,
.shortcode-postsimple .slick-prev:hover {
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
}
.shortcode-postsimple .slick-next:before {
  content: "\f105";
}
.shortcode-postsimple .slick-prev:before {
  content: "\f104";
}
.shortcode-postsimple .slide {
  text-align: center;
}
.shortcode-postsimple .photo img {
  margin: 0 auto 45px auto;
  box-shadow: 0px 5px 20px 0px rgba(2, 2, 2, 0.15);
}
.shortcode-postsimple .text {
  max-width: 70%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  color: #222;
  font-weight: bold;
}
.shortcode-postsimple .details {
  padding-top: 30px;
  background: url('quotes.png') center top no-repeat;
  font-weight: bold;
}
.shortcode-postsimple .details .name {
  color: #222;
}
.shortcode-postsimple .details .position {
  color: #777;
  font-size: 14px;
  line-height: 16px;
}
