//bootstrap
$success: #44be4c;
$body-bg: #f0f3f7;

$zindex-offcanvas-backdrop: 1081;
$zindex-offcanvas: 1082;

$accordion-button-active-bg: $success;
$accordion-button-active-color: #fff;
$accordion-icon-active-color: #fff;
$accordion-button-focus-box-shadow: 0;
$accordion-bg: #fff;
// $accordion-body-padding-x: 10px;

$enable-negative-margins: true;

$input-btn-focus-box-shadow: 0;

// custom
$darkBg: #1d2730;
$color__gray: #b5b5b5;

$popover-bg: #fff;

/* Colors */
$color__main: #44be4c;
$color__dark: #1d2730;
$color__light: #cdd6dd;
$color__white: #fff;
$color__yellow: #f8b814;
$color__purple: #7528ab;
//$color__gray: #4a5b68;
$color__grey-1: #f0f3f7;
$color__grey-2: #e3e7ef;
$color__grey-4: #a2aeb7;
$color__grey-5: #7b8c98;
$color__grey-7: #1d2730;

$color__reputation__perfect: #43c529;
$color__reputation__very__good: #70ca1b;
$color__reputation__good: #b5ca00;
$color__reputation__bad: #ed7600;
$color__reputation__very__bad: #d60e16;
$color__reputation__worst: #e71c00;

$red: #dc3545 !default;
$primary: $red !default;
